
#order-exports {

	padding: 25px;
	background: #fafafa;
	border: 1px solid HSLA(240, 4%, 91%, .5);
	border-bottom:  0;
}

#order-exports .heading {

	font-weight: bold;
	color: #576575;
	margin-bottom:  8px;
}

#order-exports .instructions p {

	margin-top: 4px;
	font-weight: normal;
	font-size: 11px;
	line-height: 1.4;
	color: #8f98a3;
}

#order-exports .row { display: flex; }

#order-exports .col:first-child { width: 70%; }
#order-exports .col:nth-child(2) { width: 30%; }

#order-exports .radiofield label {

	margin-left:  6px;
	color: #8f98a3;
}


#order-exports #export-orders-btn {

	margin-right: 0;
	margin-left: auto;
	position: relative;
	display:  table;
}

/* Bulk Status */
#bulk-select-btns { margin-bottom:  20px; }
#bulk-select-btns a { display: block; margin: 9px 0; }